doctype html
html 
    head
    title Chandra
    link(rel="stylesheet" href="scss/_main.scss")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css")
    body
        nav 
        block content