doctype html
html 
    head
    title Chandra
    link(rel="stylesheet" href="scss/_main.scss")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet")
    body
        .logo Deb
        //- nav 
        block content