extends _layout.pug

block content
    .container
        .box.box1
            .little-info 
                h3 Email
                p chandra@gmail.com
                h3 Phone
                p 01737529513
                h3 Find Me On
                .icon-box
                    a(href="#")
                        i.fab.fa-facebook
                    a(href="#")
                        i.fab.fa-twitter
                    a(href="#")
                        i.fab.fa-instagram
                    a(href="#")
                        i.fab.fa-youtube
        .box.box2 
            img(src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80")
        .box.box3 
            h1 Deb #[span Deb]
            h3 Create Great Experience
            p.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Atque ad eligendi accusantium temporibus, quidem voluptas.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            .btn-wrapper
                a.btn(href="#") Resume
                a.btn.btn-ghost(href="#") Portfolio




