@import 'reset'; 
@import 'variables'; 
@import 'home'; 


* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: $max-width;
    background: $white;
    font-family: 'Lato', sans-serif;

    .logo {
        z-index: 11;
        position: absolute;
        // background: ;
        margin: $large-margin;
        padding: $small-padding;
        font-size: 2.5rem;
        font-weight: 900;
        display: inline-block;
        border: 5px solid $white;
        color: white;
    }
}


nav {
    width: 90vw;
    z-index: 25;
    position: absolute;
    margin: $large-margin;
    // margin: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .nav-box {
        flex: 3;
        display: flex;

        &.nav-holder {
            flex: 1.8;
        }
    }
    a {
        text-align: center;
        flex: 1;
        display: inline-block;
        font-size: 1.3rem;
        margin-right: 16px;
        text-decoration: none;
        color: $purple;
        transition: all .4s ease-in-out;

        &:last-of-type {
            margin-right: 0;
        }
        &::after {
            display: block;
            margin-top: 5px;
            content: "";
            height: 5px;
            // max-width: 100px;
            background: $purple;
            transition: all .4s ease-in-out;
            transform: scaleX(0);
        }
        &:hover {
            color: $dark;
            opacity: .8;
            &::after {
                transform: scaleX(1);
            }
        }
    }


}

.menu-bars {
    display: none;
    position: absolute;
    right: 56px;
    top: 56px;
    z-index: 31;

    .bar {
        margin-bottom: 8px;
        width: 35px;
        height: 5px;
        background-color: $purple;
    }
}

.mobile-nav {
    display: flex;
    transform-origin: right top;
    transform: scale(0);
    position: absolute;
    transition: .5s;
    // width: 0;
}

.mobile-nav-active {
    .mobile-nav {
        background-color: $white;
        width: 100%;
        z-index: 20;
        top: 0;
        right: 100%;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transform: scale(1);
    
        a {
            color: $purple;
            text-decoration: none;
            font-size: 3rem;
            margin-bottom: 50px;
            // margin-left: 150%;
            transition: transform .2s ease-in-out;
            &::after {
                transition: all .2s ease-in-out;
                display: block;
                content: "";
                background: $dark;
                width: 100%;
                height: 5px;
                transform-origin: left;
                transform: scaleX(0);
            }
            &:hover {
                transform: rotate(-5deg);
                color: $dark;
                font-size: 3.5rem;
    
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.btn {
    display: inline-block;
    color: $white;
    padding: 15px 20px;
    background: $purple;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 20px;
}

.btn-ghost {
    background: $dark;
    border: 5px solid $purple;
}


@media (max-width: 974px) {

    .menu-bars {
        display: block;
    }
    nav {
        display: none;
    }
    // .mobile-nav-active{    
    //     overflow: hidden;
    //     .mobile-nav {
    //         display: flex;
    //         opacity: 1;

    //         a {
    //             margin-left: 0;
    //             // transition-duration: 1s;
    //         }
    //     }
    // }
}


