// colors
$white: #fdfdfd;
$light-dark: #393e46;
$dark: #222831;
$purple: #fc5185;


// screen Size
$max-width: 1920px;

// marign and padding
$large-margin: 56px;
$small-margin: 24px;
$large-padding: 56px;
$small-padding: 24px;


